@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');




.html {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  color: rgb(214, 43, 43);
  }

  
 body {
     min-height: 100vh;
     background-color: hwb(0 100% 0%);
 }
 
 .App {
   display: flex;
   flex-direction: column;
   justify-content: left;
   align-items: left;
   min-height: 100vh; 
   padding: 1rem 0.5rem;
 }
 
 section {
     width: 100%;
     max-width: 300px;
     min-height: 200px;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     padding: 1rem;
     background-color: rgba(0, 0, 0, 0);
 }
 
 form {
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     flex-grow: 1;
     padding-bottom: 1rem;
 }
 
 a, a:visited {
     color: #fff;
 }
 
 input[type="text"],
 input[type="password"],
 button,
 textarea {
   font-family: 'Nunito', sans-serif;
   font-size: 22px;
   padding: 0.25rem;
   border-radius: 0.5rem;
 }
 
 label,
 button {
   margin-top: 1rem;
 }
 
 button {
   padding: 0.5rem;
 }
 
 .instructions {
     font-size: 0.75rem;
     border-radius: 0.5rem;
     background: rgb(0, 0, 0);
     color: #fff;
     padding: 0.25rem;
     position: relative;
     bottom: -10px;
 }
 
 .instructions > svg {
     margin-right: 0.25rem;
 }
 
 .offscreen {
     position: absolute;
     left: -9999px;
 }
 
 .hide {
     display: none;
 }
 
 .valid {
     color: limegreen;
     margin-left: 0.25rem;
 }
 
 .invalid {
     color: red;
     margin-left: 0.25rem;
 }
 
 .errmsg {
     background-color: lightpink;
     color: firebrick;
     font-weight: bold;
     padding: 0.5rem;
     margin-bottom: 0.5rem;
 }
 
 .line {
     display: inline-block;
 }
 body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
     sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }
 
 code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
     monospace;
 } 



*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

/* .home,
.Leaderboards,
.Games,
.SignUP
.SignIn {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
} */
.Bdef {
  background-image: url('../public/images/img-4.jpg');
  height: 92vmin;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(0, 0, 0);
  /* font-size: 100px; */
}

.Profile {
  background-image: url('../public/images/img-0.jpg');
  height: 92vmin;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(0, 0, 0);
  /* font-size: 100px; */
}

.Games {
  background-image: url('../public/images/img-8.jpg');
  height: 92vmin;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  /* font-size: 100px; */
}

.Leaderboards {
  /* background-image: url('../public/images/img-2.jpg'); */
  background: linear-gradient(45deg, #b4b3b3 0%, rgb(63, 62, 62) 100%);
  height: 92vmin;
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: black;
}

.SignUp {

  background-image: url('../public/images/img-7.jpg');
  height: 92vmin;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  color: rgba(0, 37, 250, 0.89);
}
.SignIn {
  background-image: url('../public/images/img-3.jpg');
  height: 92vmin;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(0, 0, 0);
}

.html {
  font-family: 'Nunito', sans-serif;
 font-size: 22px;
 color: rgb(0, 0, 0);
 }